body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: rgb(30, 180, 210);
    border: none;
    border-radius: 1cap;
}
